.grey {
  color: #dbdbdb;
}
.mid {
  text-align: center;
}
.red {
  color: #ce0000;
}

.p3 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.box > li {
  text-decoration: #ce0000;
  margin: 1rem 0;
}

.box > ul {
  margin: 1rem;
  padding: 0;
}

.box > ul li::marker,
.box > ol li::marker {
  color: #ce0000;
}
