input {
  background-color: #090909;
  border: 2px solid #757575;
  padding: 1rem;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 2px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #eb3939;
}

textarea {
  background-color: #090909;
  border: 2px solid #757575;
  border-radius: 2px;
  padding: 1rem;
  color: #ffffff;
  font-family:
    Montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#submit {
  background: linear-gradient(90deg, #ff0000, #920000);
  border-radius: 2px;
  color: #ffffff;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  margin: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

navigation {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  background: linear-gradient(to left, #e11919, #9a2222);
  box-shadow: 0 2px 10px #000000;
  border-bottom: 1px solid #0000002f;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 20px;
}

#menu {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 60px;
  left: -250px;
  width: 100%;
  height: min-content;
}

#menu.open {
  min-height: fit-content;
  background: linear-gradient(to left, #000000ea, #000000e1);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 60px;
}

#menu-btn {
  background-color: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
  transition: rotate 2.4s ease;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition: all 0.2s ease;
}

.burger {
  width: 40px;
  height: 40px;
  position: relative;
}

.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: all 0.1s ease;
  position: relative;
}

.burger.active {
  transform: rotate(90deg);
}

/* X-Form */

.burger.active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

#menu li {
  padding: 10px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-width: 80%;
}

.submenu {
  position: relative;
  left: 20px;
  display: none;
  transition: all 2.5s ease-in-out;
}

.submenu.active {
  display: block;
  transition: all 2.5s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

li:hover {
  background-color: #df1a1aef;
}

li {
  cursor: pointer;
}

li > a {
  display: block;
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px;
  gap: 16px;
  background-color: #090909;
  border-top: 1px solid #6c473a33;
  border-top-width: 80%;
}

.h-colored {
  font-weight: bold;
  background: linear-gradient(45deg, #e11919, #9a2222);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.caps {
  text-transform: uppercase;
}

.btn-xl {
  border-radius: 2px;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  width: 250px;
  margin-top: 1.2rem;
}

.btn-red {
  background: linear-gradient(90deg, #e61313, #940606);
}

.btn-noclr {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.hero-text {
  max-width: 600px;
}
