input {
  background-color: #000000;
  border: 2px solid #757575;
  padding: 1rem;
  color: #ffffff;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #eb3939;
}

textarea {
  background-color: #000000;
  border: 2px solid #757575;
  padding: 1rem;
  color: #ffffff;
  font-family:
    Montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#submit {
  background: linear-gradient(45deg, #eb3939, #c23131);
  color: #ffffff;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
