:root {
  font-family:
    Montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #090909;
  color: #ffffff;
}

@font-face {
  font-family: "Montserrat";
  src: url(../public/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

main {
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding: 20px;
}

.info-text h3,
.info-text-color {
  text-transform: uppercase;
  display: inline;
  font-size: 2rem;
  margin: 0;
}

.info-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-left: 0;
}

@media (min-width: 768px) {
  .info-text {
    margin-left: 0;
    max-width: 800px;
  }
}

.info-text-color {
  font-weight: bold;
  background: linear-gradient(45deg, #e11919, #9a2222);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-text p {
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  margin: 1.5rem 0 0.5rem 0;
}

form label::after {
  content: "*";
  color: #eb3939;
}

.info-banner {
  background: linear-gradient(45deg, #e11919, #e11919);
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  width: fit-content;
  margin-bottom: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.capslock {
  text-transform: uppercase;
}

.bg-light {
  background-color: #0c0c0c;
}
